@using PhoneBook.Core.Utilities.Results
@using PhoneBook.Libraries.Book.Entities.Concrete

@model ResponseMessage<List<Person>>

<div class="row">
    @if (@TempData["Message"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["Message"]
        </div>
    }

    <div class="col-md-12 text-end">
        <a class="btn btn-sm btn-success" asp-action="CreatePerson" asp-controller="Home">Yeni Ekle</a>
    </div>
    <div class="col-md-12 mt-2">
        <table class="table table-bordered table-sm">
            <caption>Kişi Listesi</caption>
            <thead>
                <tr>
                    <th>Ad</th>
                    <th>Soyad</th>
                    <th>Şirket</th>
                    <th class="text-center">#</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.IsSuccess)
                {
                    @foreach (var item in Model.Data)
                    {
                        <tr>
                            <td class="w-25">@item.Firstname</td>
                            <td class="w-25">@item.Lastname</td>
                            <td class="w-25">@item.Company</td>
                            <td class="text-center">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <a asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Kişi Detay</a>
                                    <a class="btn btn-sm btn-primary" asp-controller="Home" asp-action="DeletePerson" asp-route-id="@item.Id">Sil</a>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
